body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

p {
    font-size: 1.2em;
}

h1, h3 {
    margin: 5px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* This adds a dark overlay; you can adjust the last number for opacity */
    z-index: -1;
}


/* ------------------*/
/* About Me Section */
/* ------------------*/

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
}

.site-header h1 {
    font-size: 5em;
    position: relative; /* Changed to relative */
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 50px; /* Added margin-top */
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 3;
}

.about-me {
    text-align: center;
    color: white;
    max-width: 900px;
    position: relative;
    z-index: 2;
    /* Added margin-top */
    margin: 20px 15px 50px;
}

@media (max-height: 700px) {  /* Adjust the height based on your content */
    body {
        scroll-snap-type: none;
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .about-me {
        padding: 15px;
        margin-top: 10px;
        max-width: 90%; /* Allow more space on the sides on smaller screens */
    }
    .projects-section {
        padding-top: 30px; /* Adjust as needed for smaller screens */
    }
}


/* ------------------*/
/* Projects Section */
/* ------------------*/

.projects-section {
    min-height: 100vh;
    scroll-snap-align: start;
}

.projects-header h1 {
    font-size: 5em;
    text-align: center;
    color: white;
    position: relative; /* Changed from absolute to relative */
    padding-top: 10px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 1800px;
    margin: 0 auto;
}

.portfolio-item {
    position: relative;
    font-size: 1em;
    width: 100%;
    padding-top: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    overflow: hidden;
}

.portfolio-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0;
    text-align: center;
}

.portfolio-item:hover .portfolio-item-text {
    background-color: rgba(0, 0, 0, 0.9); /* Darker on hover */
}

@media (max-width: 1200px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .portfolio-item {
        max-width: none;
        max-height: none;
        height: auto; /* Set the height to auto to fit the content */
    }
}